## Functional Programming
### lambda
- Anonymous function
- Creating a small function
    - syntax: lambda arg1,arg2 : expression

In [1]:
10 + 20

30

In [2]:
def add1(a,b):
    return a + b
add1(10,20)

30

In [3]:
add2 = lambda a,b : a + b

In [4]:
add2(10,20)

30

In [5]:
type(add1)

function

In [6]:
type(add2)

function

In [7]:
lambda a,b : a + b

- Lambda itself returns a function object

In [8]:
4 ** 3

64

In [9]:
cube = lambda a1,b1:a1**b1

In [10]:
cube(4,3)

64

## 'if else' in lambda function

In [11]:
def great(a3):
    if a3 > 10 and a3 < 20:
        return True
    else:
        return False
great(15)

True

In [12]:
great(25)

False

In [13]:
g = lambda a4 : True if(a4 > 10 and a4 < 20) else False

In [14]:
g(5)

False

In [15]:
g(18)

True

In [16]:
n = 10

In [17]:
type(n)

int

In [18]:
n1 = input()

10

In [19]:
type(n1)

str

In [20]:
n2 = int(input())

11

In [21]:
type(n2)

int

## Without 'if else' keyword

In [22]:
g2 = lambda a5 : (a5 > 10 and a5 < 20)

In [23]:
g2(16)

True

## map()
- map() function can take user_defined function as a parameter
    - syntax: map(function, iterable1,iterable2,iterable3....)

In [25]:
#[1,2,3,4] ---> 1*1,2*2,3*3,4*4

def mult(a):
    return a*a

x = map(mult,(1,2,3,4))
print(x)  
print(list(x))

<map object at 0x0000015087740F28>
[1, 4, 9, 16]

In [27]:
names = ['lavanya','niharika','nagamounika']
list(map(str.upper,names))

['LAVANYA', 'NIHARIKA', 'NAGAMOUNIKA']

### map() with lambda()

In [28]:
list1 = [1,2,3,4]
list(map(lambda x: x**3, list1))
#   map( function       iterable)

[1, 8, 27, 64]

## filter()
- syntax: filter(function, iterable)

In [29]:
list2 = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x:(x%2 == 0),list2))

[2, 4, 6, 8, 10]

In [31]:
list3 = [10,20,100,26,88,55,49,60]
def gFunc(x):
    if x >= 50:
        return True
    return False

ans = filter(gFunc,list3)
print(list(ans))

[100, 88, 55, 60]

- Write the above program using lambda in filter

## reduce()
- It is differ from map() in its working
- syntax: reduce(function, iterables)

In [32]:
from functools import reduce
ans = reduce(lambda x,y:x+y,[10,20,30,40])
print(ans)

100

- Take value 'x'<br>
if x less than 10,return x * 2<br>
else if x is between 10 and 20, return x * 3<br>
else return x

In [33]:
p = lambda x:x * 2 if x < 10 else (x * 3 if x<20 else x)

In [34]:
p(22)

22

In [35]:
p(12)

36

### Task 1
- list1 = [19,13,90,30,57,190,65,88,155]
- Return values which is divisible by 19 or 13

## Task2
- list2 = ['Nikola','james','albert']
- list3 = ['tesla','watt','einstein']
- output: ['Nikola tesla','james watt','albert einstein']

In [ ]:
# if you noted task you can leave session
# thank you all