# Operators
### Arithmetic - +,-,*,/,%,//,**
### logical - and, or, not
### Assignment - +=,-=,/=,*=,%=,//=,**=,=
### bitwise - &,|,^,~,<<,>>
### comparision - ==,!=,<=,>=,>,<
### identity - is, is not
### Membership - in , not in

In [5]:
a = 5
b=2
print(a//b)
print(5**2)

2
25

In [6]:
2>5 and 4<5

False

In [8]:
not(2>5 or 4<5)

False

In [9]:
#a = a+1
a += 1

In [10]:
a

6

In [15]:
x = 2
y = 3
print(x&y)
print(x|y)
print(x^y)
print(~x)
# 0010
# 0011
# 0010

2
3
1
-3

In [13]:
x<<y
# 0010
# 1000

16

In [14]:
y>>x
# 0011
# 0000

0

In [16]:
"hai" < "hi"

True

In [17]:
"a" > "k"

False

In [19]:
"abc" != "ABC"

True

In [20]:
"a" is "a"

True

In [29]:
print(5 is 55)
5 is not 55

False

True

In [27]:
a = 3
b = 3
c = 78
a is b

True

In [24]:
id(a)

140727498355600

In [28]:
id(c)

140727498358000

In [30]:
"A" in "apssdcA"

True

In [31]:
l = [1,2,3,4,5]
5 in l

True

In [33]:
s = "python"
"o" not in s

False

# Conditional Statements
#### if
#### if-else
#### elif
#### nested if

In [ ]:
# elif syntax
if condition:
    statements
elif condition:
    statements
else:
    statements

In [1]:
n = int(input("enter n"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

enter n3
positive

In [5]:
a = int(input("enter a "))
b = int(input("enter b"))
c = int(input("enter c"))
if a>b and a>c:
    print(a,"is large")
elif b>c:
    print(b,"is large")
else:
    print(c,"is large")

2
3
6
6 is large

In [7]:
uname = "apssdc"
pwd = "1234"
username = input("enter username")
password = input("enter passowrd")
if uname == username and pwd == password:
    print("welcome "+username+" for login")
else:
    print("invalid username or password")

enter usernamesdfghjnm
enter passowrdxcvbnm,
invalid username or password

In [ ]:
# for loop syntax
for i in range(start,stop,step):
    statements
# range(stop)
# range(start,stop)
# range(start,stop,step)

In [9]:
for i in range(10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(11,21,3):
    print(i)
    print()

11

14

17

20

In [13]:
for i in range(10,1,-2):
    print(i,end=" ")

10 8 6 4 2

In [22]:
# *
# * *
# * * *
n = int(input("enter no of rows"))
for i in range(n+1):
    for j in range(i):
        print("*",end="\t")
    print()

enter no of rows3

*
*	*
*	*	*

In [1]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# tasks
# to convert celsius to fahrenhit and vice-versa
# to convert rupees to euros and vice-versa
# to print the average of 1 to 50
# to print pascals triangle