# Set in Python
- Set is unordered and unindexed collection of items
    - unordered: We are not sure in which order the items will appear
    - unindexed: We cannot access items in set using index

In [2]:
# Different ways to create sets
set1 = set()# empty set
set2 = {10,22,'one',15}

In [3]:
set2# Set is unordered

{10, 15, 22, 'one'}

In [4]:
l = [10,20,30]
l[0]

10

In [5]:
set2[0]# Set is unindexed

TypeError: 'set' object is not subscriptable

### Set elements not allow duplicate values. Sets are unique

In [6]:
set3 = {11,132,15,55,132,16}
set3

{11, 15, 16, 55, 132}

In [7]:
set4 = {1,2,3}
set5 = {1,2,1,3}
set4 == set5

True

# Methods in Sets

In [9]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## Set methods to add items
### add()

In [10]:
set6 = {10,11,12,13}
set6.add('python')
set6

{10, 11, 12, 13, 'python'}

### update()

In [11]:
set6.update([100,'program'])

In [12]:
set6

{10, 100, 11, 12, 13, 'program', 'python'}

## Methods to remove items in set

### pop()

In [13]:
set6.pop()

100

### remove()

In [14]:
set6

{10, 11, 12, 13, 'program', 'python'}

In [15]:
set6.remove('python')

In [19]:
set6

{10, 11, 12, 13}

In [21]:
set6.remove('13')

KeyError: 14

In [22]:
set6.discard(14)

### discard()
- Similar to remove method

In [17]:
set6.remove('program')

In [18]:
set6

{10, 11, 12, 13}

## Mathematical methods in set

## union()

In [23]:
set7 = {1,2,3,4,5}
set8 = {4,5,6,7,8}

In [24]:
set7.union(set8)

{1, 2, 3, 4, 5, 6, 7, 8}

## intersection()

In [25]:
set7.intersection(set8)

{4, 5}

## difference()
- Perform setA - setB

In [26]:
set7.difference(set8)

{1, 2, 3}

In [27]:
set8.difference(set7)

{6, 7, 8}

## symmetric_difference

In [28]:
set7.symmetric_difference(set8)

{1, 2, 3, 6, 7, 8}

In [29]:
set8.symmetric_difference(set7)

{1, 2, 3, 6, 7, 8}

## intersection_update

In [30]:
print(set7)
print(set8)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [31]:
set7.intersection(set8)

{4, 5}

In [32]:
set7

{1, 2, 3, 4, 5}

In [33]:
set7.intersection_update(set8)

In [34]:
set7

{4, 5}

### difference_update(), symmetric_difference_update()

## isdisjoint()
- Checks whether the sets are completly different or not

In [36]:
{1,2,3}.isdisjoint({4,5,6})

True

In [37]:
{1,2,3}.isdisjoint({3,4,5})

False

## issubset()
- Checks whether the sets are same or not

In [39]:
{1,2,3}.issubset({1,11,12})

False

In [41]:
{1,2,3}.issubset({1,2,3,11,12})

True

In [43]:
s1 = {1,2,3}
s2 = {1,2,3,4,5}

In [45]:
s1.issubset(s2)

True

In [46]:
s2.issubset(s1)

False

## issuperset()

In [49]:
print(s1.issubset(s2))
print(s1.issuperset(s2))

True
False

In [48]:
s2.issuperset(s1)

True

# Tuples
- Tuple stores a collection of values
- tuple is represented as ()
- Tuples are immutable(not changeble)

In [56]:
## creating a tuple
t1 = tuple()# empty tuple
t2 = (10)
type(t2)

int

In [58]:
t3 = (10,)
type(t3)

tuple

In [52]:
l = [10]
type(l)

list

In [59]:
t4 = (10,11,12,13,14)

In [60]:
l2 = [1,2,3,4]
l2[0] = 100

In [61]:
l2

[100, 2, 3, 4]

In [62]:
t5 = (1,2,3,4)
t5[0] = 100

TypeError: 'tuple' object does not support item assignment

### Accessing items in tuple

In [67]:
t5[0]

1

### Slicing

In [64]:
t5[1:]

(2, 3, 4)

In [65]:
t5[-1]

4

In [66]:
t5[:-2]

(1, 2)

In [68]:
t5

(1, 2, 3, 4)

In [69]:
del t5

In [70]:
t5

NameError: name 't5' is not defined

In [71]:
t6 = (10,1,152,100,22,289)

In [72]:
len(t6)

6

In [73]:
max(t6)

289

In [78]:
min(t6)

1

In [79]:
sum(t6)

574

In [76]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [81]:
t7 = (1,11,12,11,56,25,11)

## index()

In [82]:
t7.index(56)

4

In [83]:
t7.index(11)

1

In [84]:
t7.index

## count()

In [85]:
t7.count(11)

3