In [4]:
n=int(input())
for i in range(n):
    a=[list(i) for i in input().split()]
    if sorted(a[0])==sorted(a[1]):
        print('YES')
    else:
        print('NO')

2
simth miths
YES
user rsue
YES

In [6]:
for i in input().split():
    print(sorted(list(i)))

mistu simtu
['i', 'm', 's', 't', 'u']
['i', 'm', 's', 't', 'u']

# Datastructures:

In [ ]:
- datastructures are way of organizing and storing data.

In [ ]:
#we have 4 types of datastructures in python:
1.list
2.tuple
3.dictionary
4.sets

# lists

In [ ]:
- list is a datastructure that holds an ordered collection of items.
- it allows duplicates.
- you can regognize lists by their square brackets []
- lists are mutable.

In [7]:
#empty list:
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [8]:
li=[23,89.70,'python'] # different datatypes
print(li)

[23, 89.7, 'python']

In [9]:
li=[23,12,12,13,14,15,1,7,7]#duplicates and unorder
print(li)

[23, 12, 12, 13, 14, 15, 1, 7, 7]

In [14]:
print(len(li))
print(sum(li))
print(min(li))
print(max(li))
print(sorted(li))

9
104
1
23
[1, 7, 7, 12, 12, 13, 14, 15, 23]

In [28]:
number=[]
names=['pavani','poojitha','ambika']
r=['kshdsjk','hjghjsf']
rollno=[10,20,50,80,47]
print(all(number)) #list
print(all(names))
print(any(number))  #values
print(any(names))
print(list(enumerate(names)))
print(list(enumerate(number)))
print(list(zip(rollno,names)))
print(list(zip(r,names)))

True
True
False
True
[(0, 'pavani'), (1, 'poojitha'), (2, 'ambika')]
[]
[(10, 'pavani'), (20, 'poojitha'), (50, 'ambika')]
[('kshdsjk', 'pavani'), ('hjghjsf', 'poojitha')]

In [33]:
#accesing values
li=[12,10,34,56,23]
#positive indexing
print(li[2])
#negtive indexing
print(li[-4])
#slicing
print(li[1:4])   #[start:end+1:step]
print(li[3:])
print(li[::2])

34
10
[10, 34, 56]
[56, 23]
[12, 34, 23]

In [38]:
l1=[23,12,34,5]
l2=[20,23,45,0,90,89]
print(l1+l2)

[23, 12, 34, 5, 20, 23, 45, 0, 90, 89]

In [40]:
#nested list
l=[12,3,45,[56,78,13],90]
print(l[2])
print(l[3])
print(l[3][1])

45
[56, 78, 13]
78

In [42]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [48]:
li=[12,13,14,12,12,78]
li.append(90) #value
print(li)

[12, 13, 14, 12, 12, 78, 90]

In [49]:
li.insert(3,88) #index
print(li)

[12, 13, 14, 88, 12, 12, 78, 90]

In [45]:
li.count(12)

3

In [50]:
li.index(12)

0

In [52]:
li.remove(14)   #value
print(li)

[12, 13, 88, 12, 12, 78]

In [53]:
li.pop(3)    #index
print(li)

[12, 13, 88, 12, 78]

In [54]:
t=['p','y','t']
t.remove('y')
print(t)

['p', 't']

In [55]:
l1=[23,12,34,5]
l2=[20,23,45,0,90,89]
l1.extend(l2)
print(l1)
print(l2)

[23, 12, 34, 5, 20, 23, 45, 0, 90, 89]
[20, 23, 45, 0, 90, 89]

In [60]:
l1=[23,12,34,5]
l2=[20,23,45,0,90,89]
l2.extend(l1)
print(l1)
print(l2)

[23, 12, 34, 5]
[20, 23, 45, 0, 90, 89, 23, 12, 34, 5]

In [58]:
li=[20,23,45,0,90,89]
li.sort()
print("increasing order:",li)
li.sort(reverse=True)
print("decreasing order:",li)

increasing order: [0, 20, 23, 45, 89, 90]
decreasing order: [90, 89, 45, 23, 20, 0]

In [61]:
# assignment
t=[12,10,23,45,90]
t1=t
print(t)
print(t1)
t1.append(100)
print(t)
print(t1)

[12, 10, 23, 45, 90]
[12, 10, 23, 45, 90]
[12, 10, 23, 45, 90, 100]
[12, 10, 23, 45, 90, 100]

In [63]:
#copy
t=[12,10,23,45,90]
t1=t.copy()
print(t)
print(t1)
t1.append(100)
print(t)
print(t1)

[12, 10, 23, 45, 90]
[12, 10, 23, 45, 90]
[12, 10, 23, 45, 90]
[12, 10, 23, 45, 90, 100]

In [64]:
t1

[12, 10, 23, 45, 90, 100]

In [65]:
t1.clear()
print(t1)

[]

In [66]:
del t1
print(t1)

NameError: name 't1' is not defined

In [ ]:
#examples:

In [67]:
t=[1,2,3,4,5]
t1=[]
for i in t:
    t1.append(i*2)
print(t1)

[2, 4, 6, 8, 10]

In [69]:
#duplicates remove
li=[12,12,12,13,13,14,15]
t=[]#12,13,14
for i in li:#12
    if i not in t:
        t.append(i)
print(t)

[12, 13, 14, 15]

In [70]:
#unique elements
li=[12,12,12,13,13,14,15]
t=[]#
for i in li:
    if li.count(i)==1:
        t.append(i)
print(t)

[14, 15]

In [ ]:
#tuple
- collection of ordered and unchengable
-tuple is immutable
- tuple reprented in paranthesis ()

In [71]:
#empty tuple
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [72]:
t=(34,67.89,'python') #diff datatypes
print(t)

(34, 67.89, 'python')

In [73]:
t=(23,14,10,45,67,67,67)#duplicates and unordered
print(t)

(23, 14, 10, 45, 67, 67, 67)

In [78]:
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))

7
293
10
67
[10, 14, 23, 45, 67, 67, 67]

In [80]:
number=()
names=('pavani','poojitha','ambika')
rollno=(10,20,50,80,47)
print(all(number)) #list
print(all(names))
print(any(number))  #values
print(any(names))
print(tuple(enumerate(names)))
print(tuple(enumerate(number)))
print(tuple(zip(rollno,names)))

True
True
False
True
((0, 'pavani'), (1, 'poojitha'), (2, 'ambika'))
()
((10, 'pavani'), (20, 'poojitha'), (50, 'ambika'))

In [81]:
t

(23, 14, 10, 45, 67, 67, 67)

In [82]:
t[2]=90 #immutable
print(t)

TypeError: 'tuple' object does not support item assignment

In [83]:
print(t[3])# tuple supports indexing

45

In [84]:
t=(1,2,3,4,5)
t1=(56,23,45,78)
t+t1

(1, 2, 3, 4, 5, 56, 23, 45, 78)

In [86]:
#nested tuple
l=(12,3,45,(56,78,13),90)
print(l[2])
print(l[3])
print(l[3][1])

45
(56, 78, 13)
78

In [87]:
print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [92]:
t=(12,12,3,4,12,13)
print(t.count(12))
print(t.index(12))

3
0

In [104]:
# tuple packing and unpacking:
t=(12,90.87,'python')  #tuple packing
a,b,c=t    #tuple unpacking
print(a)
print(b)
print(c)

12
90.87
python

In [105]:
t

(12, 90.87, 'python')

In [ ]:
#tuple to list conversion

In [97]:
print(t)
print(type(t))

(12, 90.87, 'python')
<class 'tuple'>

In [98]:
l=list(t)
print(l)
print(type(l))

[12, 90.87, 'python']
<class 'list'>

In [99]:
l.append(90)
print(l)

[12, 90.87, 'python', 90]

In [100]:
#list to tuple
t=tuple(l)
print(t)
print(type(t))

(12, 90.87, 'python', 90)
<class 'tuple'>

In [101]:
del t

In [102]:
t

NameError: name 't' is not defined