## Functional Programming

### Map ,filter and lambda

In [ ]:
# Map:
- builtin function,it returns map object
- to see the result we have to use list,tuple,set.
-syntax:
    - map(function,iterable1,iterable2,.....)
- it apply given function to each item of given iterable.

In [12]:
n=int(input())

23

In [13]:
s="a p ss dc"
print(s.split())

['a', 'p', 'ss', 'dc']

In [ ]:
20 90 80 67
20,90,80,67

In [16]:
#multiple inputs
n=list(map(int,input().split()))
print(type(n))
print(n)

24 56 78 12 67
<class 'list'>
[24, 56, 78, 12, 67]

In [17]:
n=list(map(str,input().split()))
print(type(n))
print(n)

pavani ambika poojitha python
<class 'list'>
['pavani', 'ambika', 'poojitha', 'python']

In [18]:
n=tuple(map(str,input().split()))
print(type(n))
print(n)

p y t h o n
<class 'tuple'>
('p', 'y', 't', 'h', 'o', 'n')

In [20]:
n=set(map(int,input().split()))
print(type(n))
print(n)

23 4 5 12 12 12 45
<class 'set'>
{'12', '45', '23', '4', '5'}

In [ ]:
map(function,iterable)

In [84]:
def addition(n):
    return n+n
r=list(map(addition,range(1,6)))
print(r)

[2, 4, 6, 8, 10]

In [26]:
def squareof(n):
    return n*n
r=set(map(squareof,range(1,6)))
print(r)

{1, 4, 9, 16, 25}

In [27]:
def squareof(n):
    return n*n
start=int(input("enter starting:"))
end=int(input("enter ending:"))
r=set(map(squareof,range(start,end+1)))
print(r)

enter starting:1
enter ending:10
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [28]:
def squareof(n):
    return n*n
start=int(input("enter starting:"))
end=int(input("enter ending:"))
r=list(map(squareof,range(start,end+1)))
print(r)

enter starting:1
enter ending:10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
n=list(map(int,input().split()))
print(sum(n))
print(min(n))
print(max(n))

23 12 34 56 78
203
12
78

In [59]:
def uppercase(s):
    return str(s).upper()

In [44]:
def print_upp(t):
    for x in t:
        print(x,end=" ")

In [45]:
#string
result=map(uppercase,'abc')
print(type(result))
print_upp(result)

<class 'map'>
A B C

In [46]:
#tuple
result=map(uppercase,(1,'a','jfhjhjhhg'))
print(type(result))
print_upp(result)

<class 'map'>
1 A JFHJHJHHG

In [55]:
#list
result=map(uppercase,['abc','def','ghi'])
print(type(result))
print_upp(result)

<class 'map'>
ABC DEF GHI

In [50]:
#list to tuple
result=map(uppercase,['abc','def','ghi'])
print(type(result))
print(tuple(result))

<class 'map'>
('ABC', 'DEF', 'GHI')

In [51]:
result=map(uppercase,['abc','def','ghi'])
print(type(result))
print(set(result))

<class 'map'>
{'DEF', 'GHI', 'ABC'}

In [52]:
result=map(uppercase,['abc','def','ghi'])
print(type(result))
print(list(result))

<class 'map'>
['ABC', 'DEF', 'GHI']

In [53]:
result=map(None,['abc','def','ghi'])
print(type(result))
print(list(result))

<class 'map'>

TypeError: 'NoneType' object is not callable

In [ ]:
# filter:
-filter () method filters the given iterable with the help of a given function
- syntax:
    - filter(function,iterable)

In [60]:
li=[1,2,'a','b',3]
def isdigit(i):
    i=str(i)
    if i.isdigit():
        return False
    return i
list(filter(isdigit,li))

['a', 'b']

In [63]:
alphabets=['a','b','c','d','e','f','g','h','i','o']
def filtervowels(alphabet):
    vowels=['a','e','i','o','u']
    if (alphabet in  vowels):
        return True
    else:
        return False
result=filter(filtervowels,alphabets)
#print(list(result))
for i in result:
    print(i)

a
e
i
o

In [ ]:
-filter used to check whether given element is boolean or not

In [67]:
r=[1,'a',0,True,'0',False,'jhfghvhhjv']
result=filter(None,r)
for i in result:
    print(i)

1
a
True
0
jhfghvhhjv

In [ ]:
#lambda:
- python lambda is  just a function without a name or anonymous function.
#syn:
lambda argument : expression
- lambda takes 0 or more arguments but only one expression.

In [72]:
#single argument
r=lambda x:x*3
r(4)

12

In [74]:
#multiple argument
r=lambda x,y:x**y
r(4,8)

65536

In [75]:
# without arguments
r=lambda :2**3
r()

8

In [76]:
#- lambda is not iterable.so by using map() or filter()
result=map(lambda x:x**3,[1,2,3,4,5])
print(list(result))

[1, 8, 27, 64, 125]

In [78]:
even=lambda n:n%2==0
result=list(filter(even,range(20,40)))
print(result)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [81]:
n1=[1,2,3]
n2=[4,5,6]
result=list(map(lambda x,y:(x+y),n1,n2))
print(result)

[5, 7, 9]

In [82]:
w=['sun','tues','wed','thus','fri','sat']
d=filter(lambda t:t if len(t)==3 else '',w)
for i in d:
    print(i)

sun
wed
fri
sat

In [ ]:
filter(function,itearble)
lambda argument:expression if 
lambda x:x if len(x)==3

In [ ]:
#task
n1=['albert','james','nikola']
n2=['einstein','watt','tesla']
o/p:['Albert Einstein','James Watt','Nikola Tesla']
    (using lambda,map,list)